body {
	font-family: Helvetica, Arial, sans-serif;
}

.item {
	display: block;
	width: 200px;
	max-width: 200px;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
}