<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Picui--Demonstration</title>
		<meta name="description" content="A framework for color image search">
		<meta name="author" content="Ajay Tripathy, Kevin Hwang, Sridatta Thatipamala">

		<link href="static/css/bootstrap.css" rel="stylesheet">
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="static/css/jquery.miniColors.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Crushed">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

		<link href="static/css/index.css" rel="stylesheet">

		<script src="static/js/jquery-1.7.2.min.js"></script>
		<script src="static/js/jquery.miniColors.js"></script>
		<script src="static/js/jquery.masonry.min.js"></script>
		<script src="static/js/jquery.cookie.js"></script>
		<script src="/socket.io/socket.io.js"></script>

		<!-- HTML5 shim which I have never testedß -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function () {
				var displayedBefore = false

				var socket = io.connect('http://localhost');

				socket.on('id', function (data) {
					console.log("Storing my ID: "+data);
					$.cookie('id', data);
				});

				var server = "http://localhost"; //FILL ME IN WITH THE SERVER LOCATION!!!!

				$("#submitimg").click(function () {
					console.log("submitting an image");
					$.post(server+"/add", {url: $("#imglocation").val(), id: $.cookie('id')}, function (data) {
						console.log("inserted photo");
						console.log(data);
						if (data === "Error") {
							console.log("something went wrong");
						} else {
							$("#imglocation").val("");
						}
					});
				});

				$("#submitcolor").click(function () {
					console.log("submitting a color");
					$.post(server+"/match", {colors: [$("#colorPicker").val()], id: $.cookie('id'), depth: 3}, function (data) {
						console.log("matched color(s)");
						console.log(data)
						if (data === "Error") {
							console.log("ERROR");
						} else {
							displayImgs(data);
						}
					}, "json")
				});

				$(document).keydown(function (e) {
					if (e.which === 13) {
						var focusId = $(document.activeElement).attr('id');
						console.log(focusId)
						if (focusId === "imglocation") {
							$("#submitimg").click();
						} else if (focusId === "colorPicker") {
							$("#submitcolor").click();
						}
					}
				})

				$("#colorPicker").miniColors();

				/*
				$("#resultsDiv").masonry({
					itemSelector: ".box",
					columnWidth: 80
				});
					*/


				var masonizeImages = function () {
					$("#resultsDiv").imagesLoaded(function () {
						$("#resultsDiv").masonry({
							itemSelector: ".item"
						});
					});
					if (displayedBefore === false) {
						displayedBefore = true;
					} else {
						$("#resultsDiv").masonry('reload');
					}
				}

				var loadImages = function (data) { //data is an array of images
					console.log(data);
					for (i in data) {
						var imgSrc = data[i].url;
						var toAppend = "<div class='item'><a href='"+imgSrc+"' target='_blank'><img src='"+imgSrc+"'></img></a></div>";
						$("#resultsDiv").append(toAppend);
					}
					masonizeImages();
				}

				var clearImages = function () {
					$("#resultsDiv").empty()
				}

				var displayImgs = function (data) {
					clearImages();
					loadImages(data);
				}

				var testImgs = []
				testImgs.push("http://denver.mylittlefacewhen.com/media/f/img/mlfw4796-1335816425456.png");
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/img/mlfw282_tumblr_lkuf6sHX4s1qj4uijo1_500.png");
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/img/mlfw4999-13374372996473.gif");
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/rsz/mlfw4974_huge.png");
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/img/mlfw4881-roflbot5.jpg");
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/img/mlfw5003-tumblr_lk6wz3tbxg1qaha6c.png");
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/img/mlfw4822-13369295685608.png");

				//holy test trinity
				//pinkiepie
				testImgs.push("http://pages.stern.nyu.edu/~kkc273/PinkiePieHiRes.png");
				//applejack
				testImgs.push("https://lh5.googleusercontent.com/-mHBd2g_xjGc/T7ZdResTFDI/AAAAAAAAKXU/w1ch4uwMYZk/s699/request___applejack_by_dentist73548-d4d43mx.png");

				//rainbowdash
				testImgs.push("http://scranton.mylittlefacewhen.com/media/f/img/mlfw3280-1330720074608.png");

				//Test the masonry
				//loadImages(testImgs)


				
			});

		</script>
	</head>

	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Picui</h1>
				<p>This is a pretty simple proof of concept. Upload images, then search for them via primary color.</p>
			</div>

			<div class="row">
				<div class="span6">
					<h2>Upload here.</h2>
					<div class="well">
						<label>Link to an image:</label>
						<input type="text" id="imglocation" class="span3" placeholder="http://www.imgur.com/rainbowdash.jpg"></input>
						<p></p>
						<button type="submit" id="submitimg" class="btn btn-primary">Submit</button>
					</div>
				</div>
				<div class="span6">
					<h2>Search here.</h2>
					<div class="well">
						<label>Pick a color below:</label>
						<input id="colorPicker"></input>
						<p></p>
						<button type="submit" id="submitcolor" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<h2>Results will be displayed below.</h2>
				</div>
			</div>

			<div id="resultsDiv" class="well">
			</div>

		<hr>
		<footer>
			<p id="footerText">Come and check out our code on <a target="_blank" href="https://github.com/AjayTripathy/picui">Github</a>!</p>
		</footer>
		</div>
	</body>
</html>