body {
	font-family: Helvetica, Arial, sans-serif;
}

.item {
	display: block;
	width: 200px;
	max-width: 200px;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
}

.item img {
	border: 1px solid #ccc;
}

.item:hover img {
	
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.74);
-moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.74);
box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.74);
}